<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studenthub" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentHub" >
        <activity
            android:name=".StudentCourseRemovePage"
            android:exported="false" />
        <activity
            android:name=".RankViewerPage"
            android:exported="false" />

        <activity
            android:name=".SelectorPage"
            android:exported="false" />
        <activity
            android:name=".GradeCourseViewerPage"
            android:exported="false" />
        <activity
            android:name=".ExpectedGradeCalPage"
            android:exported="false" />
        <activity
            android:name=".MarksAddPage"
            android:exported="false" />
        <activity
            android:name=".ViewStudentDetail"
            android:exported="false" />
        <activity
            android:name=".CourseViewPage"
            android:exported="false" />
        <activity
            android:name=".AddCoursePage"
            android:exported="false" />
        <activity
            android:name=".AdminArea"
            android:exported="false" />
        <activity
            android:name=".CourseUpdatePage"
            android:exported="false" />
        <activity
            android:name=".CourseDelPage"
            android:exported="false" />
        <activity
            android:name=".AdminRegPage"
            android:exported="false" />
        <activity
            android:name=".AddStdDetailsPage"
            android:exported="false" />
        <activity
            android:name=".GradePage"
            android:exported="false" />
        <activity
            android:name=".StudentArea"
            android:exported="false" />
        <activity
            android:name=".SignInPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>